# Allow relocation of automatic origins
automaticOrigins = true

# Allow relocation of manual origins
manualOrigins = true

# Relocate only preferred origins. When disabled scrtdd listens to LOCATION
# group and tries to relocate any origin. When enabled scrtdd listens to EVENT
# group and tries to relocate the preferred origin of an event.
onlyPreferredOrigins = true

# Defines a list of active profiles for single-event processing.
activeProfiles = ""

# Specifies a delay time in seconds after an origin is created/updated to
# trigger the single-event relocation.
performance.delayTime = 10

# Defines how long the profile data should be kept in memory (in seconds). This
# is useful to release memory (catalog waveform data) after a period of
# inactivity. A negative value force the profiles to stay always in memory.
performance.profileTimeAlive = 3600

# Save reference catalog waveforms to local disk after they have been loaded
# the first time. This avoids re-reading them from the configured recordStream.
performance.cacheWaveforms = true

# Defines the directory used for storing waveform cache.
performance.cacheDirectory = @ROOTDIR@/var/lib/rtdd

# The waveform length (centered around pick time) to be used for the disk
# cache. Although the required waveform length is inferred from the
# cross-correlation settings, this option allows for a longer disk cached trace
# that becomes useful in case the cross-correlation settings are changed in the
# future.
performance.cachedWaveformLength = 10
